@import "tailwindcss";

 @font-face {
  font-family: 'Cabinet Grostesk';
  src: url('./assets/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grostesk';
  src: url('./assets/CabinetGrotesk_Complete/Fonts/WEB/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body{
  font-family: 'Cabinet Grostesk',
 sans-serif;
 font-weight: 700;
 background-color: #1E3A8A;
}

html
{
  scroll-behavior: smooth;
}
